.content {width: 98%;  margin: 0px auto; border:0px solid red;}

.wxlist li{
	overflow:hidden;
	border-radius: 5px 5px 10px 10px; -moz-border-radius: 5px 5px 10px 10px; -webkit-border-radius: 5px 5px 10px 10px;-o-border-radius:5px 5px 10px 10px; 
	border:1px solid #d0d1d4;
	margin: 10px auto;
	padding: 8px 8px;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);  -moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25); -webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25);-o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
	/* background: url(../../assets/images/bottom.png) repeat-x scroll left bottom #FFFFFF; */
	background-size:2px auto;
}
.wxlist li .ChannelPicture{ border: 0px solid red}
.ChannelName{ font-size:18px; line-height: 1.5em; vertical-align:middle;}

.ShowInfo{ height: 30px; line-height: 1.5em; font-size:18px; border-top: 1px solid #bdbec1; vertical-align:middle; padding-top:5px; color:#000000}